node-red-speech-kinect.json
[{
	"id": "e69ef00f.19611",
	"type": "ibmiot in",
	"z": "82e8bab2.7d1748",
	"authentication": "boundService",
	"apiKey": "",
	"inputType": "evt",
	"deviceId": "nh-groundshock",
	"applicationId": "",
	"deviceType": "ankisupercar",
	"eventType": "39",
	"commandType": "",
	"format": "json",
	"name": "GroundShock",
	"service": "registered",
	"allDevices": false,
	"allApplications": "",
	"allDeviceTypes": false,
	"allEvents": true,
	"allCommands": "",
	"allFormats": "",
	"x": 327.8570976257324,
	"y": 867.1031618118286,
	"wires": [
		["6fe74f77.9018b", "84d74f9f.7b28b"]
	]
}, {
	"id": "6fe74f77.9018b",
	"type": "debug",
	"z": "82e8bab2.7d1748",
	"name": "",
	"active": true,
	"console": "false",
	"complete": "payload.d",
	"x": 583.4126510620117,
	"y": 865.9920597076416,
	"wires": []
}, {
	"id": "3a936ac9.c56c96",
	"type": "ibmiot in",
	"z": "82e8bab2.7d1748",
	"authentication": "boundService",
	"apiKey": "",
	"inputType": "evt",
	"deviceId": "nh-skull",
	"applicationId": "",
	"deviceType": "ankisupercar",
	"eventType": "39",
	"commandType": "",
	"format": "json",
	"name": "Skull",
	"service": "registered",
	"allDevices": "",
	"allApplications": "",
	"allDeviceTypes": "",
	"allEvents": true,
	"allCommands": "",
	"allFormats": "",
	"x": 308.9682197570801,
	"y": 928.2142753601074,
	"wires": [
		["6fe74f77.9018b", "84d74f9f.7b28b"]
	]
}, {
	"id": "386cac6b.c79354",
	"type": "ibmiot out",
	"z": "82e8bab2.7d1748",
	"authentication": "boundService",
	"apiKey": "",
	"outputType": "cmd",
	"deviceId": "nh-skull",
	"deviceType": "ankisupercar",
	"eventCommandType": "car",
	"format": "json",
	"data": "___",
	"name": "Skull",
	"service": "registered",
	"x": 449.4444160461426,
	"y": 588.833306312561,
	"wires": []
}, {
	"id": "69150643.96eaf8",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Speed Medium",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 130.55553817749023,
	"y": 416.0555582046509,
	"wires": [
		["2001534e.dffeac"]
	]
}, {
	"id": "2001534e.dffeac",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#s\",\n        speed : \"500\",\n        accel : \"12500\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 276.4444046020508,
	"y": 415.9444532394409,
	"wires": [
		["386cac6b.c79354"]
	]
}, {
	"id": "6f047327.90fb8c",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Speed High",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 120.55553436279297,
	"y": 452.16671085357666,
	"wires": [
		["f05e66eb.0fa198"]
	]
}, {
	"id": "f05e66eb.0fa198",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#s\",\n        speed : \"1000\",\n        accel : \"12500\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 278.3333053588867,
	"y": 452.0555467605591,
	"wires": [
		["386cac6b.c79354"]
	]
}, {
	"id": "1aeea758.e51159",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Speed Zero",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 120.55554962158203,
	"y": 379.94441413879395,
	"wires": [
		["e8655d26.179aa"]
	]
}, {
	"id": "e8655d26.179aa",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#s\",\n        speed : \"0\",\n        accel : \"12500\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 277.2221794128418,
	"y": 379.9443998336792,
	"wires": [
		["386cac6b.c79354"]
	]
}, {
	"id": "80cef2fc.7f311",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Ping",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 109.4444351196289,
	"y": 594.8333358764648,
	"wires": [
		["ec739de7.138c6"]
	]
}, {
	"id": "ec739de7.138c6",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#ping\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 278.33331298828125,
	"y": 594.3888330459595,
	"wires": [
		["386cac6b.c79354"]
	]
}, {
	"id": "2ed93cd0.d126c4",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Disconnect",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 119.44443130493164,
	"y": 633.2777376174927,
	"wires": [
		["b84b4a63.47b4b8"]
	]
}, {
	"id": "b84b4a63.47b4b8",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#q\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 278.11109161376953,
	"y": 633.1666326522827,
	"wires": [
		["386cac6b.c79354"]
	]
}, {
	"id": "bf1d54e9.40e2a8",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Battery",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 109.44443130493164,
	"y": 670.8333215713501,
	"wires": [
		["3f290d87.c0d6f2"]
	]
}, {
	"id": "3f290d87.c0d6f2",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#bat\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 277.999942779541,
	"y": 671.0554904937744,
	"wires": [
		["386cac6b.c79354"]
	]
}, {
	"id": "8e32ac45.71cd5",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Version",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 109.5555534362793,
	"y": 709.1666307449341,
	"wires": [
		["d6dc7fee.29238"]
	]
}, {
	"id": "d6dc7fee.29238",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#ver\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 278.3333511352539,
	"y": 708.8333654403687,
	"wires": [
		["386cac6b.c79354"]
	]
}, {
	"id": "a1a6b9cb.5e5948",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Lights",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 109.55556106567383,
	"y": 747.7222023010254,
	"wires": [
		["94997183.6b669"]
	]
}, {
	"id": "1470ac6d.eb8f54",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Lights Pattern",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 127.44443130493164,
	"y": 785.6110534667969,
	"wires": [
		["b55d9fff.4aa26"]
	]
}, {
	"id": "94997183.6b669",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#l\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 278.11112213134766,
	"y": 747.6110715866089,
	"wires": [
		["386cac6b.c79354"]
	]
}, {
	"id": "b55d9fff.4aa26",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#lp\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 278.33331298828125,
	"y": 785.499997138977,
	"wires": [
		["386cac6b.c79354"]
	]
}, {
	"id": "84d74f9f.7b28b",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "Store Offset",
	"func": "if (msg.eventType == \"39\") {\n    if (msg.deviceId == \"nh-skull\") {\n        context.global.offsetSkull = msg.payload.d.offset;\n    }\n    else {\n        context.global.offsetGroundShock = msg.payload.d.offset;\n    }\n}\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 571.1904144287109,
	"y": 930.436505317688,
	"wires": [
		[]
	]
}, {
	"id": "a8f28e79.570d7",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Turn Left",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 111.66666793823242,
	"y": 503.6110906600952,
	"wires": [
		["e40887d1.1bf778"]
	]
}, {
	"id": "e40887d1.1bf778",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "var newOffset = 0.0;\nif (context.global.offsetSkull) {\n    if (context.global.offsetGroundShock) {\n        if (context.global.offsetGroundShock + 50 < context.global.offsetSkull - 30.0) {\n            newOffset = context.global.offsetSkull - 30.0;\n        }\n        else {\n            newOffset = context.global.offsetSkull + 30.0;\n        }\n    }\n    else {\n        newOffset = context.global.offsetSkull - 30.0;\n    }\n}\n\nmsg.payload = JSON.stringify({\n    d: {\n        action : \"#c\",\n        offset : newOffset\n      }\n});\n\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 277.33330154418945,
	"y": 503.38887453079224,
	"wires": [
		["386cac6b.c79354"]
	]
}, {
	"id": "dd48630c.22b7a",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Turn Right",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 116.11111450195312,
	"y": 541.055534362793,
	"wires": [
		["ddacb406.225348"]
	]
}, {
	"id": "ddacb406.225348",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "var newOffset = 0.0;\nif (context.global.offsetSkull) {\n    newOffset = context.global.offsetSkull + 30.0;\n}\n\nmsg.payload = JSON.stringify({\n    d: {\n        action : \"#c\",\n        offset : newOffset\n      }\n});\n\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 277.2221870422363,
	"y": 541.1666345596313,
	"wires": [
		["386cac6b.c79354"]
	]
}, {
	"id": "bbba04db.4445f8",
	"type": "ibmiot out",
	"z": "82e8bab2.7d1748",
	"authentication": "boundService",
	"apiKey": "",
	"outputType": "cmd",
	"deviceId": "nh-groundshock",
	"deviceType": "ankisupercar",
	"eventCommandType": "car",
	"format": "json",
	"data": "___",
	"name": "GroundShock",
	"service": "registered",
	"x": 947.2222023010254,
	"y": 592.2777624130249,
	"wires": []
}, {
	"id": "a8916cd8.576e9",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Speed Medium",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 628.333324432373,
	"y": 419.50001430511475,
	"wires": [
		["47f32755.b80cd8"]
	]
}, {
	"id": "47f32755.b80cd8",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#s\",\n        speed : \"500\",\n        accel : \"12500\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 774.2221908569336,
	"y": 419.3889093399048,
	"wires": [
		["bbba04db.4445f8"]
	]
}, {
	"id": "8aca2f43.7535d",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Speed High",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 618.3333206176758,
	"y": 455.6111669540405,
	"wires": [
		["f29728ab.0d68d8"]
	]
}, {
	"id": "f29728ab.0d68d8",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#s\",\n        speed : \"1000\",\n        accel : \"12500\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 776.1110916137695,
	"y": 455.50000286102295,
	"wires": [
		["bbba04db.4445f8"]
	]
}, {
	"id": "ad10f8cc.52ef08",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Speed Zero",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 618.3333358764648,
	"y": 383.3888702392578,
	"wires": [
		["ff9de29c.00622"]
	]
}, {
	"id": "ff9de29c.00622",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#s\",\n        speed : \"0\",\n        accel : \"12500\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 774.9999656677246,
	"y": 383.38885593414307,
	"wires": [
		["bbba04db.4445f8"]
	]
}, {
	"id": "f3123e54.0cedc",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Ping",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 607.2222213745117,
	"y": 598.2777919769287,
	"wires": [
		["a40e5049.5bf1b"]
	]
}, {
	"id": "a40e5049.5bf1b",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#ping\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 776.1110992431641,
	"y": 597.8332891464233,
	"wires": [
		["bbba04db.4445f8"]
	]
}, {
	"id": "94e3211a.6b1ce",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Disconnect",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 617.2222175598145,
	"y": 636.7221937179565,
	"wires": [
		["38ac60f4.c753a"]
	]
}, {
	"id": "38ac60f4.c753a",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#q\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 775.8888778686523,
	"y": 636.6110887527466,
	"wires": [
		["bbba04db.4445f8"]
	]
}, {
	"id": "8ade16c0.7521e8",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Battery",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 607.2222175598145,
	"y": 674.277777671814,
	"wires": [
		["6efb8b71.910474"]
	]
}, {
	"id": "6efb8b71.910474",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#bat\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 775.7777290344238,
	"y": 674.4999465942383,
	"wires": [
		["bbba04db.4445f8"]
	]
}, {
	"id": "780ece2e.87f13",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Version",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 607.3333396911621,
	"y": 712.611086845398,
	"wires": [
		["888cbf86.77734"]
	]
}, {
	"id": "888cbf86.77734",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#ver\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 776.1111373901367,
	"y": 712.2778215408325,
	"wires": [
		["bbba04db.4445f8"]
	]
}, {
	"id": "152f6244.ead09e",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Lights",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 607.3333473205566,
	"y": 751.1666584014893,
	"wires": [
		["699e9a0c.966164"]
	]
}, {
	"id": "19c3f9ee.e63c06",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Lights Pattern",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 625.2222175598145,
	"y": 789.0555095672607,
	"wires": [
		["9cfa7be8.630588"]
	]
}, {
	"id": "699e9a0c.966164",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#l\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 775.8889083862305,
	"y": 751.0555276870728,
	"wires": [
		["bbba04db.4445f8"]
	]
}, {
	"id": "9cfa7be8.630588",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#lp\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 776.1110992431641,
	"y": 788.9444532394409,
	"wires": [
		["bbba04db.4445f8"]
	]
}, {
	"id": "ec7aa90e.138558",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Turn Left",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 609.4444541931152,
	"y": 507.0555467605591,
	"wires": [
		["239b7ca3.dc6484"]
	]
}, {
	"id": "239b7ca3.dc6484",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "var newOffset = 0.0;\nif (context.global.offsetGroundShock) {\n    newOffset = context.global.offsetGroundShock - 30.0;\n}\n\nmsg.payload = JSON.stringify({\n    d: {\n        action : \"#c\",\n        offset : newOffset\n      }\n});\n\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 775.1110877990723,
	"y": 506.8333306312561,
	"wires": [
		["bbba04db.4445f8"]
	]
}, {
	"id": "efa92e38.1056d",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Turn Right",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 613.8889007568359,
	"y": 544.4999904632568,
	"wires": [
		["3a69bb47.c59644"]
	]
}, {
	"id": "3a69bb47.c59644",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "var newOffset = 0.0;\nif (context.global.offsetGroundShock) {\n    if (context.global.offsetSkull) {\n        if (context.global.offsetSkull - 50 > context.global.offsetGroundShock + 30.0) {\n            newOffset = context.global.offsetGroundShock + 30.0;\n        }\n        else {\n            newOffset = context.global.offsetGroundShock - 30.0;\n        }\n    }\n    else {\n        newOffset = context.global.offsetGroundShock + 30.0;\n    }\n}\n\nmsg.payload = JSON.stringify({\n    d: {\n        action : \"#c\",\n        offset : newOffset\n      }\n});\n\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 774.9999732971191,
	"y": 544.6110906600952,
	"wires": [
		["bbba04db.4445f8"]
	]
}, {
	"id": "992aa1ab.66d56",
	"type": "ibmiot in",
	"z": "82e8bab2.7d1748",
	"authentication": "boundService",
	"apiKey": "",
	"inputType": "evt",
	"deviceId": "",
	"applicationId": "",
	"deviceType": "watson",
	"eventType": "+",
	"commandType": "",
	"format": "json",
	"name": "Watson Speech to Text",
	"service": "registered",
	"allDevices": true,
	"allApplications": "",
	"allDeviceTypes": "",
	"allEvents": true,
	"allCommands": "",
	"allFormats": true,
	"x": 144.94444274902344,
	"y": 48.250009536743164,
	"wires": [
		["95551c26.6aaae"]
	]
}, {
	"id": "329d1e7.fcd62e2",
	"type": "watson-natural-language-classifier",
	"z": "82e8bab2.7d1748",
	"name": "Watson Classifier",
	"mode": "classify",
	"language": "en",
	"classifier": "A3FCCBx16-nlc-3836",
	"x": 132.2222442626953,
	"y": 114.44445419311523,
	"wires": [
		["372e45c4.c8d1ba"]
	]
}, {
	"id": "95551c26.6aaae",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = msg.payload.value;\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 327.2221794128418,
	"y": 47.777777671813965,
	"wires": [
		["ca0d210f.35f2e"]
	]
}, {
	"id": "ca0d210f.35f2e",
	"type": "switch",
	"z": "82e8bab2.7d1748",
	"name": "",
	"property": "payload.length",
	"rules": [{
		"t": "gte",
		"v": "2"
	}, {
		"t": "lt",
		"v": "2"
	}],
	"checkall": "true",
	"outputs": 2,
	"x": 459.99997329711914,
	"y": 47.55556106567383,
	"wires": [
		["329d1e7.fcd62e2"],
		[]
	]
}, {
	"id": "372e45c4.c8d1ba",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "Read Results",
	"func": "msg.classificationFound = false;\nif (msg.payload) {\n    if (msg.payload.classes) {\n        if (msg.payload.classes.length > 0) {\n            var confidence = msg.payload.classes[0].confidence;\n            if (confidence > 0.5) {\n                msg.classificationFound = true;\n                msg.classification = msg.payload.classes[0].class_name;\n            }\n        }\n    }\n}\nreturn msg",
	"outputs": 1,
	"noerr": 0,
	"x": 324.4444694519043,
	"y": 114.66668128967285,
	"wires": [
		["6c0afc18.93f504"]
	]
}, {
	"id": "6c0afc18.93f504",
	"type": "switch",
	"z": "82e8bab2.7d1748",
	"name": "Confident enough?",
	"property": "classificationFound",
	"rules": [{
		"t": "true"
	}, {
		"t": "false"
	}],
	"checkall": "true",
	"outputs": 2,
	"x": 136.6667022705078,
	"y": 187.77777481079102,
	"wires": [
		["377a0d32.c885f2"],
		[]
	]
}, {
	"id": "377a0d32.c885f2",
	"type": "switch",
	"z": "82e8bab2.7d1748",
	"name": "Classification",
	"property": "classification",
	"rules": [{
		"t": "eq",
		"v": "move"
	}, {
		"t": "eq",
		"v": "stop"
	}, {
		"t": "eq",
		"v": "left"
	}, {
		"t": "eq",
		"v": "right"
	}],
	"checkall": "true",
	"outputs": 4,
	"x": 368.0000114440918,
	"y": 180.99999237060547,
	"wires": [
		["502517b7.afdae8", "c4ecf0c9.3b131"],
		["502517b7.afdae8", "3408091a.cbf7f6"],
		["502517b7.afdae8", "c19de37e.3e622"],
		["502517b7.afdae8", "2dc633d0.d239cc"]
	]
}, {
	"id": "502517b7.afdae8",
	"type": "debug",
	"z": "82e8bab2.7d1748",
	"name": "",
	"active": true,
	"console": "false",
	"complete": "classification",
	"x": 718.8889045715332,
	"y": 53.33333778381348,
	"wires": []
}, {
	"id": "c4ecf0c9.3b131",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "var newMsg = { payload: msg.payload.length };\nreturn newMsg;",
	"outputs": 1,
	"noerr": 0,
	"x": 582.2222366333008,
	"y": 127.22221183776855,
	"wires": [
		["47f32755.b80cd8"]
	]
}, {
	"id": "3408091a.cbf7f6",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "var newMsg = { payload: msg.payload.length };\nreturn newMsg;",
	"outputs": 1,
	"noerr": 0,
	"x": 582.2221717834473,
	"y": 163.22221755981445,
	"wires": [
		["ff9de29c.00622"]
	]
}, {
	"id": "c19de37e.3e622",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "var newMsg = { payload: msg.payload.length };\nreturn newMsg;",
	"outputs": 1,
	"noerr": 0,
	"x": 581.1110916137695,
	"y": 198.77776336669922,
	"wires": [
		["239b7ca3.dc6484"]
	]
}, {
	"id": "2dc633d0.d239cc",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "var newMsg = { payload: msg.payload.length };\nreturn newMsg;",
	"outputs": 1,
	"noerr": 0,
	"x": 581.9999771118164,
	"y": 233.22220039367676,
	"wires": [
		["3a69bb47.c59644"]
	]
}, {
	"id": "e0550a8e.1faaf8",
	"type": "ibmiot in",
	"z": "82e8bab2.7d1748",
	"authentication": "boundService",
	"apiKey": "",
	"inputType": "cmd",
	"deviceId": "",
	"applicationId": "",
	"deviceType": "+",
	"eventType": "+",
	"commandType": "",
	"format": "json",
	"name": "Kinect",
	"service": "registered",
	"allDevices": true,
	"allApplications": "",
	"allDeviceTypes": true,
	"allEvents": true,
	"allCommands": true,
	"allFormats": false,
	"x": 104.28593826293945,
	"y": 290.2380714416504,
	"wires": [
		["111048d0.eeefb7"]
	]
}, {
	"id": "111048d0.eeefb7",
	"type": "switch",
	"z": "82e8bab2.7d1748",
	"name": "",
	"property": "payload.d.action",
	"rules": [{
		"t": "eq",
		"v": "move"
	}, {
		"t": "eq",
		"v": "stop"
	}, {
		"t": "eq",
		"v": "left"
	}, {
		"t": "eq",
		"v": "right"
	}],
	"checkall": "true",
	"outputs": 4,
	"x": 352.14306259155273,
	"y": 289.6666660308838,
	"wires": [
		["c4ecf0c9.3b131"],
		["3408091a.cbf7f6"],
		["c19de37e.3e622"],
		["2dc633d0.d239cc"]
	]
}]