node-red.json
[{
	"id": "e69ef00f.19611",
	"type": "ibmiot in",
	"z": "82e8bab2.7d1748",
	"authentication": "boundService",
	"apiKey": "",
	"inputType": "evt",
	"deviceId": "nh-groundshock",
	"applicationId": "",
	"deviceType": "ankisupercar",
	"eventType": "39",
	"commandType": "",
	"format": "json",
	"name": "GroundShock",
	"service": "registered",
	"allDevices": false,
	"allApplications": "",
	"allDeviceTypes": false,
	"allEvents": true,
	"allCommands": "",
	"allFormats": "",
	"x": 316.6666145324707,
	"y": 525.5555477142334,
	"wires": [
		["6fe74f77.9018b", "84d74f9f.7b28b"]
	]
}, {
	"id": "6fe74f77.9018b",
	"type": "debug",
	"z": "82e8bab2.7d1748",
	"name": "",
	"active": true,
	"console": "false",
	"complete": "payload.d",
	"x": 572.22216796875,
	"y": 524.4444456100464,
	"wires": []
}, {
	"id": "3a936ac9.c56c96",
	"type": "ibmiot in",
	"z": "82e8bab2.7d1748",
	"authentication": "boundService",
	"apiKey": "",
	"inputType": "evt",
	"deviceId": "nh-skull",
	"applicationId": "",
	"deviceType": "ankisupercar",
	"eventType": "39",
	"commandType": "",
	"format": "json",
	"name": "Skull",
	"service": "registered",
	"allDevices": "",
	"allApplications": "",
	"allDeviceTypes": "",
	"allEvents": true,
	"allCommands": "",
	"allFormats": "",
	"x": 297.77773666381836,
	"y": 586.6666612625122,
	"wires": [
		["6fe74f77.9018b", "84d74f9f.7b28b"]
	]
}, {
	"id": "386cac6b.c79354",
	"type": "ibmiot out",
	"z": "82e8bab2.7d1748",
	"authentication": "boundService",
	"apiKey": "",
	"outputType": "cmd",
	"deviceId": "nh-skull",
	"deviceType": "ankisupercar",
	"eventCommandType": "car",
	"format": "json",
	"data": "___",
	"name": "Skull",
	"service": "registered",
	"x": 434.4444160461426,
	"y": 250.33331298828125,
	"wires": []
}, {
	"id": "69150643.96eaf8",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Speed Medium",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 115.55553817749023,
	"y": 77.5555648803711,
	"wires": [
		["2001534e.dffeac"]
	]
}, {
	"id": "2001534e.dffeac",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#s\",\n        speed : \"500\",\n        accel : \"12500\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 261.4444046020508,
	"y": 77.44445991516113,
	"wires": [
		["386cac6b.c79354"]
	]
}, {
	"id": "6f047327.90fb8c",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Speed High",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 105.55553436279297,
	"y": 113.66671752929688,
	"wires": [
		["f05e66eb.0fa198"]
	]
}, {
	"id": "f05e66eb.0fa198",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#s\",\n        speed : \"1000\",\n        accel : \"12500\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 263.3333053588867,
	"y": 113.5555534362793,
	"wires": [
		["386cac6b.c79354"]
	]
}, {
	"id": "1aeea758.e51159",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Speed Zero",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 105.55554962158203,
	"y": 41.44442081451416,
	"wires": [
		["e8655d26.179aa"]
	]
}, {
	"id": "e8655d26.179aa",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#s\",\n        speed : \"0\",\n        accel : \"12500\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 262.2221794128418,
	"y": 41.444406509399414,
	"wires": [
		["386cac6b.c79354"]
	]
}, {
	"id": "80cef2fc.7f311",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Ping",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 94.4444351196289,
	"y": 256.33334255218506,
	"wires": [
		["ec739de7.138c6"]
	]
}, {
	"id": "ec739de7.138c6",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#ping\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 263.33331298828125,
	"y": 255.8888397216797,
	"wires": [
		["386cac6b.c79354"]
	]
}, {
	"id": "2ed93cd0.d126c4",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Disconnect",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 104.44443130493164,
	"y": 294.7777442932129,
	"wires": [
		["b84b4a63.47b4b8"]
	]
}, {
	"id": "b84b4a63.47b4b8",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#q\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 263.11109161376953,
	"y": 294.66663932800293,
	"wires": [
		["386cac6b.c79354"]
	]
}, {
	"id": "bf1d54e9.40e2a8",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Battery",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 94.44443130493164,
	"y": 332.3333282470703,
	"wires": [
		["3f290d87.c0d6f2"]
	]
}, {
	"id": "3f290d87.c0d6f2",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#bat\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 262.999942779541,
	"y": 332.55549716949463,
	"wires": [
		["386cac6b.c79354"]
	]
}, {
	"id": "8e32ac45.71cd5",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Version",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 94.5555534362793,
	"y": 370.6666374206543,
	"wires": [
		["d6dc7fee.29238"]
	]
}, {
	"id": "d6dc7fee.29238",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#ver\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 263.3333511352539,
	"y": 370.33337211608887,
	"wires": [
		["386cac6b.c79354"]
	]
}, {
	"id": "a1a6b9cb.5e5948",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Lights",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 94.55556106567383,
	"y": 409.2222089767456,
	"wires": [
		["94997183.6b669"]
	]
}, {
	"id": "1470ac6d.eb8f54",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Lights Pattern",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 112.44443130493164,
	"y": 447.1110601425171,
	"wires": [
		["b55d9fff.4aa26"]
	]
}, {
	"id": "94997183.6b669",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#l\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 263.11112213134766,
	"y": 409.1110782623291,
	"wires": [
		["386cac6b.c79354"]
	]
}, {
	"id": "b55d9fff.4aa26",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#lp\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 263.33331298828125,
	"y": 447.00000381469727,
	"wires": [
		["386cac6b.c79354"]
	]
}, {
	"id": "84d74f9f.7b28b",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "Store Offset",
	"func": "if (msg.eventType == \"39\") {\n    if (msg.deviceId == \"nh-skull\") {\n        context.global.offsetSkull = msg.payload.d.offset;\n    }\n    else {\n        context.global.offsetGroundShock = msg.payload.d.offset;\n    }\n}\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 559.9999313354492,
	"y": 588.8888912200928,
	"wires": [
		[]
	]
}, {
	"id": "a8f28e79.570d7",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Turn Left",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 96.66666793823242,
	"y": 165.11109733581543,
	"wires": [
		["e40887d1.1bf778"]
	]
}, {
	"id": "e40887d1.1bf778",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "var newOffset = 0.0;\nif (context.global.offsetSkull) {\n    if (context.global.offsetGroundShock) {\n        if (context.global.offsetGroundShock + 50 < context.global.offsetSkull - 30.0) {\n            newOffset = context.global.offsetSkull - 30.0;\n        }\n        else {\n            newOffset = context.global.offsetSkull + 30.0;\n        }\n    }\n    else {\n        newOffset = context.global.offsetSkull - 30.0;\n    }\n}\n\nmsg.payload = JSON.stringify({\n    d: {\n        action : \"#c\",\n        offset : newOffset\n      }\n});\n\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 262.33330154418945,
	"y": 164.88888120651245,
	"wires": [
		["386cac6b.c79354"]
	]
}, {
	"id": "dd48630c.22b7a",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Turn Right",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 101.11111450195312,
	"y": 202.55554103851318,
	"wires": [
		["ddacb406.225348"]
	]
}, {
	"id": "ddacb406.225348",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "var newOffset = 0.0;\nif (context.global.offsetSkull) {\n    newOffset = context.global.offsetSkull + 30.0;\n}\n\nmsg.payload = JSON.stringify({\n    d: {\n        action : \"#c\",\n        offset : newOffset\n      }\n});\n\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 262.2221870422363,
	"y": 202.66664123535156,
	"wires": [
		["386cac6b.c79354"]
	]
}, {
	"id": "bbba04db.4445f8",
	"type": "ibmiot out",
	"z": "82e8bab2.7d1748",
	"authentication": "boundService",
	"apiKey": "",
	"outputType": "cmd",
	"deviceId": "nh-groundshock",
	"deviceType": "ankisupercar",
	"eventCommandType": "car",
	"format": "json",
	"data": "___",
	"name": "GroundShock",
	"service": "registered",
	"x": 932.2222023010254,
	"y": 253.77776908874512,
	"wires": []
}, {
	"id": "a8916cd8.576e9",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Speed Medium",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 613.333324432373,
	"y": 81.00002098083496,
	"wires": [
		["47f32755.b80cd8"]
	]
}, {
	"id": "47f32755.b80cd8",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#s\",\n        speed : \"500\",\n        accel : \"12500\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 759.2221908569336,
	"y": 80.888916015625,
	"wires": [
		["bbba04db.4445f8"]
	]
}, {
	"id": "8aca2f43.7535d",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Speed High",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 603.3333206176758,
	"y": 117.11117362976074,
	"wires": [
		["f29728ab.0d68d8"]
	]
}, {
	"id": "f29728ab.0d68d8",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#s\",\n        speed : \"1000\",\n        accel : \"12500\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 761.1110916137695,
	"y": 117.00000953674316,
	"wires": [
		["bbba04db.4445f8"]
	]
}, {
	"id": "ad10f8cc.52ef08",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Speed Zero",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 603.3333358764648,
	"y": 44.88887691497803,
	"wires": [
		["ff9de29c.00622"]
	]
}, {
	"id": "ff9de29c.00622",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#s\",\n        speed : \"0\",\n        accel : \"12500\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 759.9999656677246,
	"y": 44.88886260986328,
	"wires": [
		["bbba04db.4445f8"]
	]
}, {
	"id": "f3123e54.0cedc",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Ping",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 592.2222213745117,
	"y": 259.7777986526489,
	"wires": [
		["a40e5049.5bf1b"]
	]
}, {
	"id": "a40e5049.5bf1b",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#ping\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 761.1110992431641,
	"y": 259.33329582214355,
	"wires": [
		["bbba04db.4445f8"]
	]
}, {
	"id": "94e3211a.6b1ce",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Disconnect",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 602.2222175598145,
	"y": 298.22220039367676,
	"wires": [
		["38ac60f4.c753a"]
	]
}, {
	"id": "38ac60f4.c753a",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#q\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 760.8888778686523,
	"y": 298.1110954284668,
	"wires": [
		["bbba04db.4445f8"]
	]
}, {
	"id": "8ade16c0.7521e8",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Battery",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 592.2222175598145,
	"y": 335.7777843475342,
	"wires": [
		["6efb8b71.910474"]
	]
}, {
	"id": "6efb8b71.910474",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#bat\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 760.7777290344238,
	"y": 335.9999532699585,
	"wires": [
		["bbba04db.4445f8"]
	]
}, {
	"id": "780ece2e.87f13",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Version",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 592.3333396911621,
	"y": 374.11109352111816,
	"wires": [
		["888cbf86.77734"]
	]
}, {
	"id": "888cbf86.77734",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#ver\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 761.1111373901367,
	"y": 373.77782821655273,
	"wires": [
		["bbba04db.4445f8"]
	]
}, {
	"id": "152f6244.ead09e",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Lights",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 592.3333473205566,
	"y": 412.6666650772095,
	"wires": [
		["699e9a0c.966164"]
	]
}, {
	"id": "19c3f9ee.e63c06",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Lights Pattern",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 610.2222175598145,
	"y": 450.55551624298096,
	"wires": [
		["9cfa7be8.630588"]
	]
}, {
	"id": "699e9a0c.966164",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#l\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 760.8889083862305,
	"y": 412.55553436279297,
	"wires": [
		["bbba04db.4445f8"]
	]
}, {
	"id": "9cfa7be8.630588",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "msg.payload = JSON.stringify({\n    d: {\n        action : \"#lp\"\n      }\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 761.1110992431641,
	"y": 450.44445991516113,
	"wires": [
		["bbba04db.4445f8"]
	]
}, {
	"id": "ec7aa90e.138558",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Turn Left",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 594.4444541931152,
	"y": 168.5555534362793,
	"wires": [
		["239b7ca3.dc6484"]
	]
}, {
	"id": "239b7ca3.dc6484",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "var newOffset = 0.0;\nif (context.global.offsetGroundShock) {\n    newOffset = context.global.offsetGroundShock - 30.0;\n}\n\nmsg.payload = JSON.stringify({\n    d: {\n        action : \"#c\",\n        offset : newOffset\n      }\n});\n\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 760.1110877990723,
	"y": 168.33333730697632,
	"wires": [
		["bbba04db.4445f8"]
	]
}, {
	"id": "efa92e38.1056d",
	"type": "inject",
	"z": "82e8bab2.7d1748",
	"name": "Turn Right",
	"topic": "",
	"payload": "",
	"payloadType": "none",
	"repeat": "",
	"crontab": "",
	"once": false,
	"x": 598.8889007568359,
	"y": 205.99999713897705,
	"wires": [
		["3a69bb47.c59644"]
	]
}, {
	"id": "3a69bb47.c59644",
	"type": "function",
	"z": "82e8bab2.7d1748",
	"name": "",
	"func": "var newOffset = 0.0;\nif (context.global.offsetGroundShock) {\n    if (context.global.offsetSkull) {\n        if (context.global.offsetSkull - 50 > context.global.offsetGroundShock + 30.0) {\n            newOffset = context.global.offsetGroundShock + 30.0;\n        }\n        else {\n            newOffset = context.global.offsetGroundShock - 30.0;\n        }\n    }\n    else {\n        newOffset = context.global.offsetGroundShock + 30.0;\n    }\n}\n\nmsg.payload = JSON.stringify({\n    d: {\n        action : \"#c\",\n        offset : newOffset\n      }\n});\n\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 759.9999732971191,
	"y": 206.11109733581543,
	"wires": [
		["bbba04db.4445f8"]
	]
}]